/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content.
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
*/

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Sidr navbar ideas
 */
.sidr_margin {
    margin-top: 90px;
}

#mobile-header, #navigation {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
    }
}
/*
 * navbar angular

.ruby {
   font-family: helvetica, arial;
    font-size: 15;
    color: #77ff33;
} */

/*
 * instant search css
 */
.search_input
{
    border:2px solid #333;
    font-size:20px;
    padding:5px;
    width:350px;
    margin-top: 8px;
    font-family:'Georgia', Times New Roman, Times, serif;
    -moz-border-radius:5px;-webkit-border-radius:5px;
}
#input_box
{
    text-align:right;
    width:640px;

}
#result
{
    background-color: #bababa;
    margin-top:25px;
    margin-left: 0px;
    /*min-height:100%;
    width:100%;
    border:solid 10px #ffffff;*/
    min-height: 385px;
    width: 100%;
    border:solid 10px #ffffff;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
}
#no
{
    padding:30px;
    font-size:24px;
    color:#fff;
}

#title
{
    background-color:#fff;
    font-size:26px;
    text-align:left;
    padding-bottom:8px;
}
#count
{
    background-color:#fff;
    text-align:left;
    padding-top:8px;
}


/* video list styles
 * source http://blog.teamtreehouse.com/developing-over-the-youtube-api-with-json
*/
#videoslisting { display: block; }
#videoslisting li { display: block; margin-bottom: 26px; }

#videoslisting li .videothumb {
    float: left;
    margin-right: 15px;
}

#videoslisting li .meta {
    float: left;
    padding-top: 15px;
}
#videoslisting li .meta p { margin-bottom: 4px; }

 /*below source: http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design-3/ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
 /* ......... */

.chartcontainer {
height: 300px;
width:300px;
}

.top70 {
    margin-top: 50px;
}

.imgPlaceholder {

    height: 150px;
    border:2px solid;
    border-radius:15px;
    border-color: #cf5423;
    background-color: #dbdbdb;
    margin:10px 5px;
    float: left;

}

.title_font
{
    font-size:30px;
    padding:5px;
    font-family: "Andale Mono", AndaleMono, monospace;
}

.black_txt {
    font-size:30px;
    padding:5px;
    font-family: "Andale Mono", AndaleMono, monospace;
    color: #2b3e50;;

}

  /*
@media(max-width: 767px) {
    .navbar.navbar-default {
        position:fixed; top:0; left:0; z-index:1030;
    }
}     */

.canvas_style {
    background-color: #dbdbdb;
}