<!DOCTYPE html>
<html lang="en" data-framework="angular.js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
     <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <title>VideoCoder</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Include Sidr bundled CSS theme -->
    <link rel="stylesheet" href="css/jquery.sidr.dark.css">
      <script src="js/angular.js"></script>
  </head>

  <body>

  <div id=main ng-app>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">$("VideoCoder")<small> Watch & Learn!</small></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

              <!-- navbar contained in sidr toggle menu-->
              <a id="simple-menu" href="#sidr">Toggle menu</a>
              <div id="sidr" class="sidr_margin">
                  
               <nav id="usersnav">

                  <ul class="{{active}}" ng-click="$event.preventDefault()">
                    <li><a href="#thenewboston" ng-click="active='Ruby'" class="ruby">Ruby</a></li>
                    <li><a href="#derekbanas" ng-click="active='Android'" class="android">Android</a></li>
                    <li><a href="#Make" ng-click="active='Pure Geek'" class="pure_geek">Pure Geek</a></li>
                    <li><a href="#wearechange" ng-click="active='Wearechange'" class="wearechange">wearechange</a></li>
                    <li><a href="#RTAmerica" ng-click="active='RTAmerica'" class="RTAmerica">RTAmerica</a></li>
                    <li><a href="#G4ZDTechTV2" ng-click="active='G4ZDTechTV2'" class="G4ZDTechTV2">G4ZDTechTV2</a></li>
                    <li><a href="#NovaCrystallisDotCom" ng-click="active='NovaCrystallisDotCom'" class="NovaCrystallisDotCom">NovaCrystallisDotCom</a></li>
                  </ul>

	              <ul class="nav nav-sidebar">
                    <li>Completely Newbie?</li>
                    <li><a href="#edzjohnson" ng-click="active='HTML'" class="HTML">HTML</a></li>
                    <li><a href="#" ng-click="active='CSS'" class="CSS">CSS</a></li>
                    <li><a href="#" ng-click="active='JavaScript'" class="JavaScript">JavaScript</a></li>
                  </ul>
	  
                </nav>
                 
              </div>
           </ul>
        </div>

		
        <!-- navbar contained in sidr toggle menu for mobile only-->
        <div id="mobile-header">
            <a id="responsive-menu-button" href="#">Menu</a>
        </div>

       


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          
          </div>

          <h2 class="sub-header">Section title</h2>
          <h3 ng-hide="active">Please click a menu item</h3>
          <h3 ng-show="active">You Chose <b>{{active}}</b></h3>

          <div class="table-responsive">
            <div id="videos">
              <!-- vids go here -->
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Include the Sidr JS -->
    <script src="js/jquery.sidr.min.js"></script>

    <!-- script for sidr -->
    <script src="js/sidr.js"></script>
	<script type="text/javascript">
$(function(){
  $('#usersnav ul li a').on('click', function(e){
    e.preventDefault();
    var htmlString  = '<ul id="videoslisting">';
    var channelname = $(this).attr('href').substring(1);
    var ytapiurl    = 'http://gdata.youtube.com/feeds/api/users/'+channelname+'/uploads?alt=json&max-results=10';
  
    $.getJSON(ytapiurl, function(data) {
      $.each(data.feed.entry, function(i, item) {                                
        var title    = item['title']['$t'];
        var videoid  = item['id']['$t'];
      
        var pubdate  = item['published']['$t'];
        var fulldate = new Date(pubdate).toLocaleDateString();
      
        var thumbimg = item['media$group']['media$thumbnail'][0]['url'];
        var tinyimg1 = item['media$group']['media$thumbnail'][1]['url'];
        var tinyimg2 = item['media$group']['media$thumbnail'][2]['url'];
        var tinyimg3 = item['media$group']['media$thumbnail'][3]['url'];
      
        var vlink    = item['media$group']['media$content'][0]['url'];
        var ytlink   = item['media$group']['media$player'][0]['url'];
        var numviews = item['yt$statistics']['viewCount'];
        var numcomms = item['gd$comments']['gd$feedLink']['countHint'];
      
        htmlString +='<li class="clearfix"><h2>' + title + '</h2>';
        htmlString +='<div class="videothumb"><a href="' + ytlink + '" target="_blank"><img src="' + thumbimg + '" width="480" height="360"></a></div>';
        htmlString +='<div class="meta"><p>Published on <strong>' + fulldate + '</strong></p><p>Total views: <strong>' + commafy(numviews) + '</strong></p><p>Total comments: <strong>'+ numcomms +'</strong></p><p><a href="'+ ytlink +'" class="external" target="_blank">View on YouTube</a></p><p><a href="'+ vlink +'" class="external" target="_blank">View in Fullscreen</a></p><p><strong>Alternate Thumbnails</strong>:<br><img src="'+ tinyimg1 +'"> <img src="' + tinyimg2 + '"> <img src="'+ tinyimg3 +'"></p></div></li>';
      }); // end each loop
    
      $('#videos').html(htmlString + "</ul>");
    }); // end json parsing
  }); // end click event handler
  
  // commafy function source
  // http://stackoverflow.com/a/6785438/477958
  function commafy( arg ) {
   arg += '';
   var num = arg.split('.'); 
   if (typeof num[0] !== 'undefined'){
      var int = num[0];
      if (int.length > 3){
         int     = int.split('').reverse().join('');
         int     = int.replace(/(\d{3})/g, "$1,");
         int     = int.split('').reverse().join('')
      }
   }
   if (typeof num[1] !== 'undefined'){
      var dec = num[1];
      if (dec.length > 4){
         dec     = dec.replace(/(\d{3})/g, "$1 ");
      }
   }

   return (typeof num[0] !== 'undefined'?int:'') 
        + (typeof num[1] !== 'undefined'?'.'+dec:'');
  }
});
</script>
  </body>
</html>
