<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" media="all" href="dashboard.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="../js/searchAPI.js"></script>
</head>

<body>
<h3>Search the YouTube video</h3>

<h2>Youtube Instant Search with Jquery</h2>

    <input type="text" class='search_input'/><br/>


    <div id="result"></div>

</body>

</html>