<!DOCTYPE html>
<html lang="en" data-framework="angular.js">
<title>Popup Login and Register</title>
<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/vendor/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
<link rel="stylesheet" type="text/css" href="../css/bootswatch/bootswatch-superhero.css">
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
<script src="https://app.userapp.io/js/userapp.client.js"></script>
<script src="https://app.userapp.io/js/angularjs.userapp.js"></script>
<link rel="stylesheet" type="text/css" href="../css/myCss.css">
<script type="text/javascript" src="../js/UserApp.js"></script>

<body>


<div class="container">
        <form class="form" onsubmit="return login()">
            <h2 class="form-heading">Log in to VideoCoder</h2>
            <div class="form-fields">
                <input id="username" type="text" class="form-control" placeholder="Email" required autofocus>
                <input id="login_password" type="password" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            <p class="text-center" style="margin-top:10px;">
                or <a href="signup.html">sign up</a>
            </p>
        </form>
</div>

</body>
</html>